<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>

    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap-theme.css">
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap-theme.min.css">

    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block html_head %}  {% endblock %}
</head>
<body>
<div>
    realmServer:
    <a href="{{ url_for('upload.index') }}">Home</a>
    {% if current_user.is_anonymous %}
        <a href="{{ url_for('/admin.login') }}">Login</a>
    {% else %}
        <a href="{{ url_for('/admin.logout') }}">Logout</a>
    {% endif %}
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>

<div id="footer">
    {% block footer %}
        &copy; Copyright 2018 by <a href="#">realmServer</a>.
    {% endblock %}
</div>
</body>