{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
    <div class="page-header">
        <div class="container">
            {#            <h1>{{ title }}</h1>#}
        </div>
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">#</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">陌上人家</a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">基础数据<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="project">项目维护</a></li>
                            <li><a href="style">款式维护</a></li>
                            <li><a href="model">型号维护</a></li>
                            <li><a href="level">层次维护</a></li>
                            <li class="divider"></li>
                            <li><a href="typeAdd">产品类型维护</a></li>
                            <li class="divider"></li>
                            <li><a href="infoAdd">产品信息维护</a></li>
                            <li class="divider"></li>
                            <li><a href="infos">产品展示</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">业务数据<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">物料入库</a></li>
                            <li><a href="#">物料出库</a></li>
                            <li><a href="#">物料报损</a></li>
                            <li class="divider"></li>
                            <li><a href="#">产品入库</a></li>
                            <li><a href="#">产品出库</a></li>
                            <li><a href="#">产品报损</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">库存数据<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">物料库存</a></li>
                            <li class="divider"></li>
                            <li><a href="#">产品库存</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}