<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ title}}</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<table class="table table-striped">
	{#<caption>{{ title}}</caption>#}
	<thead>
		<tr>
			<th>{{list[0]['productCode']}}</th>
			<th>{{list[0]['productName']}}</th>
			<th>{{list[0]['imgUrl']}}</th>
		</tr>
	</thead>
	<tbody>
        {% for info in list %}
            <tr>
			<td>{{info['productCode']}}</td>
			<td>{{info['productName']}}</td>
			<td>{{info['imgUrl']}}</td>
		</tr>
        {% endfor %}
	</tbody>
</table>

</body>
</html>