{% extends 'productbase.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
    <div class="page-header">
        <div class="container">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ headlist['productCode'] }}</th>
                <th>{{ headlist['productName'] }}</th>
                <th>{{ headlist['imgUrl'] }}</th>
            </tr>
            </thead>
            <tbody>
            {% for info in list %}
                <tr>
                    <td>{{ info['productCode'] }}</td>
                    <td>{{ info['productName'] }}</td>
                    <td><img src="{{ info['imgUrl'] }}" , width="100" ,height="20"/></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}