{% extends "layout.html" %}
{% block title %}图片上传下载{% endblock %}
{% block body %}
    {{ super }}
    <form id="form1" method="post" action="/upload/u" enctype="multipart/form-data">
        <div>
            <h4>产品编码 <input id="Text1" type="text" name="productId"/></h4>
            <h5>选择图片 <input id="File1" type="file" name="myfile"/></h5>
            <input type="submit">提交</input>
        </div>
    </form>

    <form id="form2" method="post" action="/upload/q" enctype="multipart/form-data">
        <div>
            <h4>产品编码 <input id="Text1" type="text" name="productId"/></h4>
            <input type="submit">产品查询</input>
        </div>
        <h1>产品列表</h1>
        <u1>
            {% for info in list %}
                <h6><li>产品代码:{{info['productCode']}}</li> <li>产品名称:{{info['productName']}}</li></h6>
                <h6><li>图片地址:{{info['imgUrl']}}</h6>
                <h4><li>图片显示</h4><img src="{{info['imgUrl']}}", width = "100",height="100" />
            {% endfor %}
        </u1>
    </form>

    <p>
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
    </p>
{% endblock %}