<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片上传下载</title>
</head>
<body>
    <form id="form1" method="post" action="/upload/u" enctype="multipart/form-data">
        <div>
            <h4>产品编码 <input id="Text1" type="text" name="productId"/></h4>
            <h5>选择图片 <input id="File1" type="file" name="myfile"/></h5>
            <input type="submit">提交</input>
        </div>
    </form>
    <p>
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
    </p>
</body>
</html>