{% extends "layout.html" %}
{% block title %}图片上传下载{% endblock %}
{% block body %}
    {{ super }}
    <form id="form1" method="post" action="/upload/u" enctype="multipart/form-data">
        <div>
            <h4>产品编码 <input id="Text1" type="text" name="productId"/></h4>
            <h5>选择图片 <input id="File1" type="file" name="myfile"/></h5>
            <input type="submit">提交</input>
        </div>
    </form>

{#    <form id="form2" method="post" action="/upload/q" enctype="multipart/form-data">#}
{#        <div>#}
{#            <h4>产品编码 <input id="Text1" type="text" name="productId"/></h4>#}
{#            <input type="submit">查询</input>#}
{#        </div>#}
{#        <h1>Members</h1>#}
{#        <u1>#}
{#            {% for info in productInfos %}#}
{#            <li>aa:{{info['productName']}}</li>#}
{#        </u1>#}
{#    </form>#}

    <p>
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
    </p>
{% endblock %}